%title Chist | Three Funky Monkeys
%meta{ :name => "description", :content => "Share your chat with style"}
%meta{ :name => "keywords", :content => "share,chat,style"}
%meta{ :name => "author", :content => "Three Funky Monkeys"}
%meta{ name: "twitter:card", content: "summary"}
%meta{ name: "twitter:site", content:"iChist"}
%meta{ name: "twitter:title", content:"Chist | Three Funky Monkeys"}
%meta{ name: "twitter:description", content:"Share your chat with style"}
%meta{ name: "twitter:creator", content:"@3funkymonkeys"}
%meta{ name: "twitter:image:src", content:"#{ENV['SITE_URL']}/img/favicon.ico"}
%meta{ name: "twitter:domain", content: "ichist.com"}
%meta{ name: "og:type", content:"website"}
%meta{ name: "og:title", content:"Chist | Three Funky Monkeys"}
%meta{ name: "og:description", content:"Share your chat with style"}
%meta{ name: "og:url", content:"#{ENV['SITE_URL']}"}
%meta{ name: "og:site_name", content:"Chist"}
