%header.navbar.navbar-default{ :role => "navigation" }
  .container
    .navbar-header
      %a.navbar-brand{ :href => "/" }
        Chist
    .navbar-collapse.collapse.navbar-inverse-collapse
      %ul.nav.navbar-nav.col-lg-7
        %li.col-lg-12
          - if current_user
            %form#search-chist.search-form.navbar-left.col-lg-12{ :style => "margin: 10px -15px", :action => "/search", :'data-remote' => 'true' }
              %input#search-box.form-control.col-lg-6{ :type => :text, :placeholder => I18n.t('.layout.search'), :name => :query }
      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{href: '#', :'data-toggle' => 'dropdown'}
              =current_user.email
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: '/users/edit'}=I18n.t('user.edit_user')
              %li
                %a{href: '/users/connections'}=I18n.t('user.manage_connections')
              %li
                %a{href: '/users/password'}=I18n.t('user.change_password')
              %li.divider
              %li
                %a{href: '/users/logout'}=I18n.t('.layout.logout')


          %li
            %a{ :href => "/chists/new" }= I18n.t('.layout.new_chist')

          %li
            %a{href: '/dashboard'}=I18n.t('.chists.your_chists')
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{ :href => "/" }= I18n.t('.layout.login')
