#Copy this to {development,test,production}.env.sh and adjusts the variables to your convenience

SESSION_SECRET=[Place here your session secret]
TWITTER_KEY=[Place your twitter api key here]
TWITTER_SECRET=[Place your twitter api secret here]
FACEBOOK_APP_ID=[Place your facebook api key here]
FACEBOOK_SECRET=[Place your facebook api secret here]
GITHUB_KEY=[Place your github api key here]
GITHUB_SECRET=[Place your github api secret here]
DATABASE_HOST=[Place your database host here]
DATABASE_PORT=[Place your database port here]
DATABASE_NAME=[Place your database name here]
DATABASE_USER=[Place your database user here]
DATABASE_PASS=[Place your database password here]
