#Copy this to {development,test,production}.env.sh and adjusts the variables to your convenience

SESSION_SECRET=[Place here your session secret]
TWITTER_KEY=[Place your twitter api key here]
TWITTER_SECRET=[Place your twitter api secret here]
FACEBOOK_APP_ID=[Place your facebook api key here]
FACEBOOK_SECRET=[Place your facebook api secret here]
GITHUB_KEY=[Place your github api key here]
GITHUB_SECRET=[Place your github api secret here]
DATABASE_HOST=[Place your database host here]
DATABASE_PORT=[Place your database port here]
DATABASE_NAME=[Place your database name here]
DATABASE_USER=[Place your database user here]
DATABASE_PASS=[Place your database password here]
SITE_URL=[Website url]
MAILER_FROM_EMAIL=[example@example.com]
MAILER_FROM_NAME=[Example]
MM_URGENT_QUOTA=[50]
MM_NORMAL_QUOTA=[25]
MM_LOW_QUOTA=[5]
MM_NORMAL_SLEEP=[1]
MM_LOW_SLEEP=[2]
MM_SLEEP=[5]
MAILER_ADAPTER=[mandril|smtp|postmark]
MANDRIL_API_KEY=[mandril key here]
POSTMARK_API_TOKEN=[postmark token here]
INCLUDE_ANALYTICS=[true|false]
ANALYTICS_CODE=[code]
