<!DOCTYPE html>
%html{ :lang => :en }
  %head
    %title Chist
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    - if defined?(is_public) && !is_public
      %meta{ :name => "robots", :content => "noindex, nofollow"}
      %meta{ :name => "referrer", :content => "never"}
    %link{ :href => "/img/favicon.ico", :rel => "shortcut icon"}
    %link{ :href => "css/bootstrap.min.css", :rel => "stylesheet" }
    %link{ :href => "css/home.css", :rel => "stylesheet" }
    %link{ :href => "css/layout.css", :rel => "stylesheet" }
    %link{ :href => "http://fonts.googleapis.com/css?family=Inconsolata", :rel => "stylesheet", :type => "text/css" }
  %body
    #wrapper
      #container.container
        .flash-messages
          =show_flash_message
        = yield
      = partial 'shared/_footer'

