<!DOCTYPE html>
%html{ :lang => :en }
  %head
    %title Chist
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    - if defined?(is_public) && !is_public
      %meta{ :name => "robots", :content => "noindex, nofollow"}
      %meta{ :name => "referrer", :content => "never"}
    %link{ :href => "css/bootstrap.min.css", :rel => "stylesheet" }
    %link{ :href => "css/home.css", :rel => "stylesheet" }
  %body
    #wrapper
      %header.navbar.navbar-inverse

      #container.container
        .flash-messages
          =show_flash_message
        = yield

