/* New Layout */
header .search-form {
    margin-top: 0;
    margin-bottom: 0;
}

a.navbar-brand {
    font-family: 'GothamBlack';
    color: #fff;
    padding: 14px;
    font-size: 24px;
    text-decoration: none;
}

header .search-form .btn{
    border: 0;
    padding: 0;
    background-color: transparent;
}

header .search-form .btn:focus{
    outline-width: 0;
}

header .search-form input{
    -webkit-box-shadow: 0px 0px 0px 0px transparent !important;
    box-shadow: 0px 0px 0px transparent !important;
    -webkit-transition: 0;
    -o-transition: none;
    transition: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid #bdc4c9;
    border-left: 0;
    background-color: transparent;
    color: #fff;
}

footer .nav-pills > li {
  float: left;
  padding: 10px;
}

footer .nav-pills > li > a:hover {
  background-color: transparent;
}

footer .footer {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 44px;
}

/* Old */
.chist-panel .panel-body {
  padding: 0px;
}

.chist-title {
  padding: 10px 10px 0;
}

.chist-chat {
  width: 100%;
  font-family: inherit;
  font-size: 12px;
  background-color: inherit;
  color: inherit;
  border: none;
  overflow-x: auto;
  overflow-y: hidden;
  overflow-wrap: normal;
  font-family: "Oxygen Mono";
  padding: 0.5em;
}

.chist-chat table tr td {
  padding: 3px 0px;
  height: 1em;
  line-height: 1em;
}

.chist-chat table td.number {
  text-align: right;
}

.chist-chat table td.number a {
  text-decoration: none;
  font-size: 0.9em;
  color: #95A5A6;
  margin: 0 0.5em 0 0.5em;
}

.chist-preview {
  max-height: 270px;
}

.chist-preview .chist-chat {
  max-height: 230px;
}

.chist-chat .line {
  overflow-wrap: normal;
}

#delete-chist-form button { margin-left: 20px;}

.chist-format-skype .chist-theme-default { }
  .chist-format-skype.chist-theme-default .line .time {
    color: #003300;
  }

  .chist-format-skype.chist-theme-default .line .username_0   { color: #f6917f; }
  .chist-format-skype.chist-theme-default .line .username_1   { color: #3f7b48; }
  .chist-format-skype.chist-theme-default .line .username_2   { color: #669988; }
  .chist-format-skype.chist-theme-default .line .username_3   { color: #cc7ef6; }
  .chist-format-skype.chist-theme-default .line .username_4   { color: #2255aa; }
  .chist-format-skype.chist-theme-default .line .username_5   { color: #cc32b2; }
  .chist-format-skype.chist-theme-default .line .username_6   { color: #907ef6; }
  .chist-format-skype.chist-theme-default .line .username_7   { color: #cc6666; }
  .chist-format-skype.chist-theme-default .line .username_8   { color: #7b3f55; }
  .chist-format-skype.chist-theme-default .line .username_9   { color: #3f7b65; }
  .chist-format-skype.chist-theme-default .line .username_10  { color: #9c6e7f; }

.chist-format-irc .chist-theme-default { }
  .chist-theme-default .line .open-close {
    color: #cc9900;
  }
  .chist-theme-default .line .channel-info {
    color: #553355;
  }

  .chist-theme-default .line .username_0   { color: #f6917f; }
  .chist-theme-default .line .username_1   { color: #3f7b48; }
  .chist-theme-default .line .username_2   { color: #669988; }
  .chist-theme-default .line .username_3   { color: #cc7ef6; }
  .chist-theme-default .line .username_4   { color: #2255aa; }
  .chist-theme-default .line .username_5   { color: #cc32b2; }
  .chist-theme-default .line .username_6   { color: #907ef6; }
  .chist-theme-default .line .username_7   { color: #cc6666; }
  .chist-theme-default .line .username_8   { color: #7b3f55; }
  .chist-theme-default .line .username_9   { color: #3f7b65; }
  .chist-theme-default .line .username_10  { color: #9c6e7f; }

  .chist-theme-default .system-message { color: #7B878C; font-style: italic; }
