/* New Layout */
a.navbar-brand {
    font-family: 'GothamBlack';
    color: #fff;
    padding: 14px;
    font-size: 24px;
    text-decoration: none;
}

header .search-form {
    margin-top: 0;
    margin-bottom: 0;
}

header .search-form .btn{
    border: 0;
    padding: 0;
    background-color: transparent;
}

header .search-form .btn:focus{
    outline-width: 0;
}

header .search-form input{
    -webkit-box-shadow: 0px 0px 0px 0px transparent !important;
    box-shadow: 0px 0px 0px transparent !important;
    -webkit-transition: 0;
    -o-transition: none;
    transition: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid #bdc4c9;
    border-left: 0;
    background-color: transparent;
    color: #fff;
}

header .login-public {
  font-family: GothamBook;
  margin-top: 17px;
}

footer .nav-pills > li {
  float: left;
  padding: 10px;
}

footer .nav-pills > li > a:hover {
  background-color: transparent;
}

footer .footer {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 44px;
}

/* Titles */
h3.title {
  font-family: GothamBook;
  font-size: 15px;
  margin-bottom: 43px;
  margin-top: 0;
  height: 43px;
  padding-top: 15px;
  padding-left: 43px;
}

h3.title span{
  font-family: GothamBold;
}

h3.title.new {
  background: url('../img/title-chist-new.svg') 0% 0% no-repeat;
}

h3.title.your {
  background: url('../img/title-chist-your.svg') 0% 0% no-repeat;
}

h3.title.show-private {
  background: url('../img/title-chist-private.svg') 0% 0% no-repeat;
}

h3.title.show-public {
  background: url('../img/title-chist-public.svg') 0% 0% no-repeat;
}

h3.title.user {
  background: url('../img/title-chist-profile.svg') -7px 0% no-repeat;
}

h3.subtitle {
  background-color: #2C3E50;
  border-bottom: 4px solid #18D99C;
  margin: 0;
  overflow: hidden;
}

h3.subtitle span{
  color: #FFFFFF;
  font-size: 14px;
  font-family: "GothamBold";
  padding: 12px 0 10px 18px;
  float: left;
}

h1 {
  font-family: GothamBold;
  font-size: 15px;
  margin-bottom: 23px;
  height: 43px;
  padding-top: 15px;
  padding-left: 43px;
  text-transform: uppercase;
}

h1.policy {
  background: url('../img/title-chist-privacy.svg') 0% 0% no-repeat;
}

h1.tos {
  background: url('../img/title-chist-terms.svg') 0% 0% no-repeat;
  padding-left: 50px;
}

h2 {
  font-family: GothamBold;
  font-size: 15px;
  margin-bottom: 43px;
  margin-top: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 4px solid #18D99C;
  text-transform: uppercase;
}

ul.list {
  padding: 0;
}

ul.list li {
  list-style: none;
}


/*
.header-form {
  margin: 5px -15px;
  padding: 10px 15px;
}

.actions {
  text-align: right;
  padding-right: 0px;
}

.actions form {
  display: inline-block;
}

footer {
  margin-top: 30px;
}

footer ul {
  width: auto;
  height: 20px;
  display: inline-block;
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

footer .col-lg-12 {
  text-align: center;
}
*/