%h3 Hello
%p Someone has requested a password reset for your iChist account. Follow the link below to set a new password:
%a{href: "#{url}/users/reset/#{user.token_reset}"} {url}/users/reset/#{user.token_reset}
%p If you don't wish to reset your password, disregard this email and no action will be taken.

%p The iChist Team
