#home.col-md-6.col-md-offset-3
  .home_logo
    %img{ :src => "/img/logo.svg"}

  #carousel-home.carousel.slide{ :data => {:ride => "carousel"} }
    .carousel-inner{:role=>"listbox"}
      .item.active
        %p With this tool you can share a chat with your friends or teammates with a smooth and legible format.
        %p 
          %strong No more screenshots or unintelligible text!
          Copy, paste it into
          %strong iChist
          and share the link!
      .item
        %h2
          Support for multiple formats!
        %p
          %strong iChist
          supports different chat formats and applications including
          %strong IRC, Slack, Limechat, Colloquy and Skype.
          Are we missing one? Tell us and we will work to make it real!
      .item
        %h2
          Join for Free and start sharing now
        %p
          It's easy! Create your account now using your
          %strong E-mail, Facebook, Twitter or Github.
          Don't forget to tell your teammates!
        -#%a.btn.btn-success.btn-lg{:href => "#join-form"}
          -#Join Now
    %ol.carousel-indicators
      %li.active{:data => {:target=>"#carousel-home",:'slide-to'=>"0"}}
      %li{:data => {:target=>"#carousel-home",:'slide-to'=>"1"}}
      %li{:data => {:target=>"#carousel-home",:'slide-to'=>"2"}}
  %h4.moto=I18n.t('home.login_omniauth')
  .col-md-6.col-md-offset-3
    %ul#login-providers
      %li
        %a{href: '/auth/github'}
          %img{ :src => "/img/provider-github.svg" }
      %li
        %a{href: '/auth/facebook'}
          %img{ :src => "/img/provider-facebook.svg" }
      %li
        %a{href: '/auth/twitter'}
          %img{ :src => "/img/provider-twitter.svg" }
    %form#join-form.form-horizontal{action: '/users/login', method: 'post'}
      %fieldset
        .form-group
          .col-lg-12
            %input#email.form-control{type: 'email', name: 'email', required: true, placeholder: I18n.t('home.email')}
        .form-group
          .col-lg-12
            %input#password.form-control{type: 'password', name: 'password', required: true,placeholder: I18n.t('home.password') }
        .form-group
          .col-lg-12
            %input.btn{type: 'submit', value: I18n.t('home.login.login')}
        .form-group
          .col-lg-12#forgot-password-link
            %a{href: '/users/forgot'}
              =I18n.t('home.login.forgot')
