#home.col-md-6.col-md-offset-3
  .home_logo
    %img{ :src => "/img/logo.svg"}

  #carousel-home.carousel.slide{ :data => {:ride => "carousel"} }
    .carousel-inner{:role=>"listbox"}
      .item.active
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec mi non lacus tempus posuere. Proin fermentum ullamcorper lectus sed sodales. Ut ac lacus vitae nibh luctus pretium. Duis eros felis, commodo eget purus nec, efficitur pulvinar lectus. Duis vel bibendum sem, sit amet rhoncus lacus. Quisque nulla erat, tempor quis imperdiet congue, aliquam eget arcu. Vivamus et dictum mi, a scelerisque velit. Suspendisse cursus metus vitae felis auctor, nec egestas urna sodales.
      .item
        %h2
          Join now!
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec mi non lacus tempus posuere. Proin fermentum ullamcorper lectus sed sodales.
      .item
        %h2
          Lorem ipsum dolor sit amet, consectetur adipiscing elit!
        %p
          Cras nec mi non lacus tempus posuere. Proin fermentum ullamcorper lectus sed sodales. Ut ac lacus vitae nibh luctus pretium.
        %button.btn.btn-success.btn-lg{:type => "button"}
          Free
    %ol.carousel-indicators
      %li.active{:data => {:target=>"#carousel-home",:'slide-to'=>"0"}}
      %li{:data => {:target=>"#carousel-home",:'slide-to'=>"1"}}
      %li{:data => {:target=>"#carousel-home",:'slide-to'=>"2"}}
  %h4.moto=I18n.t('home.login_omniauth')
  .col-md-6.col-md-offset-3
    %ul#login-providers
      %li
        %a{href: '/auth/chist'}
          %img{ :src => "/img/provider-chist.svg" }
      %li
        %a{href: '/auth/github'}
          %img{ :src => "/img/provider-github.svg" }
      %li
        %a{href: '/auth/facebook'}
          %img{ :src => "/img/provider-facebook.svg" }
      %li
        %a{href: '/auth/twitter'}
          %img{ :src => "/img/provider-twitter.svg" }
    %form.form-horizontal{action: '/users/login', method: 'post'}
      %fieldset
        .form-group
          .col-lg-12
            %input#email.form-control{type: 'email', name: 'email', required: true, placeholder: I18n.t('home.email')}
        .form-group
          .col-lg-12
            %input#password.form-control{type: 'password', name: 'password', required: true,placeholder: I18n.t('home.password') }
        .form-group
          .col-lg-12
            %input.btn{type: 'submit', value: I18n.t('home.login.login')}
