.form-group
  .col-lg-7
    %input.form-control{type: 'text', name: 'chist[title]', value: defined?(chist) ? chist.title : (params['title'] || ''), required: true, placeholder: I18n.t('chists.title',)}
  .col-lg-4
    %select.col-lg-5#chat-format{name: 'chist[format]'}
      - if (defined?(chist) && chist.format == 'none') || (params.has_key?('format') && params['format'] == 'none')
        %option{value: 'none', selected: 'selected'}=I18n.t('chists.format.none')
      - else
        %option{value: 'none'}=I18n.t('chists.format.none')
      - if (defined?(chist) && chist.format == 'irc') || (params.has_key?('format') && params['format'] == 'irc')
        %option{value: 'irc', selected: 'selected'}=I18n.t('chists.format.irc')
      - else
        %option{value: 'irc'}=I18n.t('chists.format.irc')
      - if (defined?(chist) && chist.format == 'limechat') || (params.has_key?('format') && params['format'] == 'limechat')
        %option{value: 'limechat', selected: 'selected'}=I18n.t('chists.format.limechat')
      - else
        %option{value: 'limechat'}=I18n.t('chists.format.limechat')
      - if (defined?(chist) && chist.format == 'limechatsample') || (params.has_key?('format') && params['format'] == 'limechatsample')
        %option{value: 'limechatsample', selected: 'selected'}=I18n.t('chists.format.limechatsample')
      - else
        %option{value: 'limechatsample'}=I18n.t('chists.format.limechatsample')
      - if (defined?(chist) && chist.format == 'colloquy') || (params.has_key?('format') && params['format'] == 'colloquy')
        %option{value: 'colloquy', selected: 'selected'}=I18n.t('chists.format.colloquy')
      - else
        %option{value: 'colloquy'}=I18n.t('chists.format.colloquy')
      - if (defined?(chist) && chist.format == 'skype') || (params.has_key?('format') && params['format'] == 'skype')
        %option{value: 'skype', selected: 'selected'}=I18n.t('chists.format.skype')
      - else
        %option{value: 'skype'}=I18n.t('chists.format.skype')
      - if (defined?(chist) && chist.format == 'slack') || (params.has_key?('format') && params['format'] == 'slack')
        %option{value: 'slack', selected: 'selected'}=I18n.t('chists.format.slack')
      - else
        %option{value: 'slack'}=I18n.t('chists.format.slack')

    %span{ style: 'margin-left: 2em;' }
      %input{type: 'checkbox', name: 'chist[public]', value: 1, checked: (defined?(chist) && chist.public) || params.has_key?('public')}
      =I18n.t('chists.public')

.form-group
  .col-lg-11
    %textarea.form-control{name: 'chist[chist]', required: true, placeholder: I18n.t('chists.chat'), :rows => "15"}
      =defined?(chist) ? chist.chist_raw : (params['chist'] || '')
