%form.form-horizontal{action: "/chists/#{chist.id}", method: 'post'}
  %fieldset
    %input{type: 'hidden', name: '_method', value: 'PUT'}
    = partial 'chists/_form', params: params, chist: chist
    .actions.col-lg-11
      %input.btn.btn-primary.btn-sm{type: 'submit', value: I18n.t('.chists.actions.save')}

