%form.form-horizontal{action: '/chists', method: 'post'}
  %fieldset
    = partial 'chists/_form', params: params
    .actions.col-lg-11
      %input.btn.btn-primary.btn-sm{type: 'submit', value: I18n.t('chists.create')}
