%h2=I18n.t('chists.create')

%form{action: '/chists', method: 'post'}
  %label=I18n.t('chists.title',)
  %input{type: 'text', name: 'chist[title]', required: true}
  %br
  %label=I18n.t('chists.chat')
  %textarea{name: 'chist[chist]', required: true}
  %br
  %span
    %input{type: 'checkbox', name: 'chist[public]', value: 1}
    =I18n.t('chists.public')
  %br
  %input{type: 'submit', value: I18n.t('chists.create')}
