%h2=I18n.t('user.edit_user')
%form.form-horizontal.col-md-5{action: '/users', method: 'post'}
  %fieldset
    .form-group
      %input{type: 'hidden', name: '_method', value: 'PUT'}
      %label=I18n.t('user.name',)
      %input.form-control{type: 'text', name: 'name', value: user.name, required: true}
    .form-group
      %label=I18n.t('user.username',)
      %input.form-control{type: 'text', name: 'username', value: user.username, required: true}
    .form-group
      %input.btn.btn-primary{type: 'submit', value: I18n.t('user.save')}

