%h2=I18n.t('user.edit_user')
%form.form-horizontal.col-md-5{action: '/password/reset', method: 'post'}
  %fieldset
    .form-group
      %input{type: 'hidden', name: '_method', value: 'PUT'}
      %label=I18n.t('user.new_password')
      %input.form-control{type: 'password', name: 'new_password', required: true}
    .form-group
      %label=I18n.t('user.confirm_password')
      %input.form-control{type: 'password', name: 'confirm_password', required: true}
    .form-group
      %input.btn.btn-primary{type: 'submit', value: I18n.t('user.save')}
