%h2=I18n.t('user.edit_user')
%form{action: '/password/reset', method: 'post'}
  %input{type: 'hidden', name: '_method', value: 'PUT'}
  %label=I18n.t('user.new_password')
  %input{type: 'password', name: 'new_password', required: true}
  %br
  %label=I18n.t('user.confirm_password')
  %input{type: 'password', name: 'confirm_password', required: true}
  %br
  %input{type: 'submit', value: I18n.t('user.save')}
