#home.col-md-6.col-md-offset-3
  .home_logo
    %a{href: '/'}
      %img{ :src => "/img/logo.svg"}
  .forgot_box
    %form.form-horizontal{action: '/users/reset/' + token, method: 'post'}
      %h3.subtitle
        %span=I18n.t('user.reset_password')
      %fieldset
        .form-group
          %input{type: 'hidden', name: '_method', value: 'PUT'}
          %label.user-label=I18n.t('user.new_password')
          %input.form-control.user-field{type: 'password', name: 'new_password', required: true}
        .form-group
          %label.user-label=I18n.t('user.confirm_password')
          %input.form-control.user-field{type: 'password', name: 'confirm_password', required: true}
        .form-group
          %input.btn{type: 'submit', value: I18n.t('user.send')}
